
{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4">
        <h4 class="widget-title">{{ $.Param "full_name" }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="h4">Social Media and Open Source</div>
      </div>
    </div>
    <div class="row mx-auto" style="margin-top: 30px;">
        {{ range $key, $value := $.Param "social" }}
        <div class="col text-center">
          <a href="{{ $value.link }}"><i class="h1 {{ $value.icon }} text-primary"></i></a>
          <h5 class="font-weight-light my-3">{{ $key }}</h5>
        </div>
        {{ end }}
    </div>
  </div>
</section>

<!-- {{ if .Site.Data.gallery.enable }}
{{ with .Site.Data.gallery }}
<section>
  <div class="container-fluid px-0">
    <div class="text-center">
      <h4 class="widget-title">My Gallery</h4>
    </div>
    <div class="row no-gutters">
      {{ range .gallery }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="{{ .image | absURL}}" class="venobox" data-gall="gallery"><img class="img-fluid w-100"
            src="{{ .image | absURL}}" alt=""></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }} -->

{{ end }}